.DS_Store
.vscode
.svn
/dist/
esdoc/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
/.vscode
bower_components/
docs/
docdash-master/
esdoc/
manual/
/*.lock
/package-lock.json
