<!DOCTYPE html>
<html>
  <head>
    <title>投放系统权限</title>
    <style>
      body{
        font-family: 微软雅黑;

      }
      h1,p,a{
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <h1><%= msg %></h1>
    <p><a href="<%= url %>" target="_blank">-->进入主页</a></p>
  </body>
</html>
