<div class="row" ng-controller="sdkAppSecretController">
    <div class="col-sm-12 col-md-12">
        <toaster-container
                toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="scrollable" style="max-height: 500px;overflow-y:auto">

            <div class="widget flat radius-bordered" ng-if="showCertlist">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">签名列表</span>
                </div>
                <div class="widget-body">
                    <div class="portlet-body">
                        <a href="" class="btn blue" ng-click="addCertListener()">
                            <i class="fa fa-cloud-upload" ng-if="showCertlist" ></i> 上传签名
                        </a>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>签名名称</th>
                            <th>alias</th>
                            <th>storepass(密钥库密码)</th>
                            <th>keypass</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in certs">
                            <td>{{item.certName}}</td>
                            <td>{{item.alias}}</td>
                            <td>{{item.storepass}}</td>
                            <td>{{item.keypass}}</td>
                            <td>
                                <a><i class="fa fa-download" href="{{item.path}}"></i></a>&nbsp;
                                <a><i class="fa fa-trash-o"
                                      ng-click="deleCertListener(item)"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-12" ng-if="!showCertlist">
                <div class="row">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="collapse in">
                                <form role="form" class="ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label>签名名称*:</label>
                                        <input type="text" class="form-control" ng-model="choseCert.certName"
                                               value="{{choseCert.certName}}">
                                    </div>
                                    <div class="form-group">
                                        <label>签名文件*:</label>
                                        <input type="file" ngf-select="" ng-model="choseCert.keystore" name="keystore"
                                               required="">
                                        <img ngf-src="choseCert.keystore" class="icon">
                                    </div>

                                    <div class="form-group">
                                        <label>alias(别名)*:</label>
                                        <input class="form-control"
                                               ng-model="choseCert.alias"
                                               value="{{choseCert.alias}}">
                                    </div>
                                    <div class="form-group">
                                        <label>storepass(密钥库密码)*：</label>
                                        <input class="form-control"
                                               ng-model="choseCert.storepass"
                                               value="{{choseCert.storepass}}">
                                    </div>
                                    <div class="form-group"><label>alias_password(别名密码)*</label>
                                        <input class="form-control"
                                               ng-model="choseCert.keypass"
                                               value="{{choseCert.keypass}}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <button class="btn" ng-click="back()"><i class="fa fa-arrow-left"></i>返回
                    </button>
                    <button  class="btn" ng-click="addSubmit()"><i class="fa fa-save"></i>保存产品
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

