<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>wxInfo</servlet-name>
        <servlet-class>com.sevenroad.services.WeixinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wxInfo</servlet-name>
        <url-pattern>/wxInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>wxInterface</servlet-name>
        <servlet-class>com.sevenroad.services.wxInterfaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wxInterface</servlet-name>
        <url-pattern>/wxInterface</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getQuery</servlet-name>
        <servlet-class>com.sevenroad.services.getQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getQuery</servlet-name>
        <url-pattern>/getQuery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sysAdmin</servlet-name>
        <servlet-class>com.sevenroad.services.sysAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sysAdmin</servlet-name>
        <url-pattern>/sysAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userPerm</servlet-name>
        <servlet-class>com.sevenroad.services.userPermServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userPerm</servlet-name>
        <url-pattern>/userPerm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>com.sevenroad.services.exportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <!--<filter>-->
        <!--<filter-name>CorsFilter</filter-name>-->
        <!--<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>CorsFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <listener>
        <listener-class>com.sevenroad.listener.contextListener</listener-class>
        <listener-class>com.sevenroad.listener.sessionListenner</listener-class>
    </listener>
</web-app>