<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sevenroad.oas.dao.mapper.DataviewComponentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sevenroad.oas.dao.entity.DataviewComponent">
		<id column="dataview_component_id" property="dataviewComponentId" />
		<result column="component_id" property="componentId" />
		<result column="dataview_id" property="dataviewId" />
	</resultMap>

</mapper>
