    <!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">تقارير البحث، الرسوم البيانية، رسائل البريد الإلكتروني أو إشعارات</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> لوحة القيادة </span>
        </a>
    </li>
    <!--Databoxes-->
    <li ui-sref-active="active">
        <a ui-sref="app.databoxes">
            <i class="menu-icon glyphicon glyphicon-tasks"></i>
            <span class="menu-text"> صناديق البيانات </span>
        </a>
    </li>
    <!--Widgets-->
    <li ui-sref-active="active">
        <a ui-sref="app.widgets">
            <i class="menu-icon fa fa-th"></i>
            <span class="menu-text"> الحاجيات‌ها </span>
        </a>
    </li>
    <!--UI Elements-->
    <li >
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> عناصر </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <span class="menu-text">عناصر الأساسية</span>
                </a>
            </li>
            <li >
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">
                        الرموز
                    </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.fontawesome">
                            <i class="menu-icon fa fa-rocket"></i>
                            <span class="menu-text">Font Awesome</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.glyphicons">
                            <i class="menu-icon glyphicon glyphicon-stats"></i>
                            <span class="menu-text">Glyph Icons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.typicons">
                            <i class="menu-icon typcn typcn-location-outline"></i>
                            <span class="menu-text"> Typicons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.weathericons">
                            <i class="menu-icon wi wi-hot"></i>
                            <span class="menu-text">Weather Icons</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tabs">
                    <span class="menu-text">علامات التبويب والأكورديون</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.alerts">
                    <span class="menu-text">تنبيهات وتلميحات</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.modals">
                    <span class="menu-text">شرطية ويلز</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.buttons">
                    <span class="menu-text">أزرار</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.nestablelist">
                    <span class="menu-text"> قائمة Nestable</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.treeview">
                    <span class="menu-text">تريفيف</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Tables-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> الجداول </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.simpletables">
                    <span class="menu-text">بسيطة والمستجيبة</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.datatables">
                    <span class="menu-text">جداول البيانات</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Forms-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> أشكال </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.formlayout">
                    <span class="menu-text">تخطيط نموذج</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.forminputs">
                    <span class="menu-text">المدخلات شكل</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.formpickers">
                    <span class="menu-text">جامعو البيانات</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formwizard">
                    <span class="menu-text">Wizard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formvalidation">
                    <span class="menu-text">التحقق من صحة</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formeditors">
                    <span class="menu-text">المحررين</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Charts-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-bar-chart-o"></i>
            <span class="menu-text"> الرسوم البيانية </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.flot">
                    <span class="menu-text">فلوت</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.morris">
                    <span class="menu-text"> موریس</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.sparkline">
                    <span class="menu-text">اسبارکلاین</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.easypiechart">
                    <span class="menu-text">ایزی‌بای</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.chartjs">
                    <span class="menu-text"> جی‌اس</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Profile-->
    <li ui-sref-active="active">
        <a ui-sref="app.profile">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text">ملف</span>
        </a>
    </li>
    <!--Mail-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-envelope-o"></i>
            <span class="menu-text"> بريد </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.inbox">
                    <span class="menu-text">البريد الوارد</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.messageview">
                    <span class="menu-text">عرض رسالة</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.messagecompose">
                    <span class="menu-text">يؤلف رسالة</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Calendar-->
    <li ui-sref-active="active">
        <a ui-sref="app.calendar">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">
                تقویم
            </span>
        </a>
    </li>
    <!--Pages-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-paperclip"></i>
            <span class="menu-text"> صفحات </span>

            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.timeline">
                    <span class="menu-text">الجدول الزمني</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.pricing">
                    <span class="menu-text">جداول التسعير</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.invoice">
                    <span class="menu-text">فاتورة</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="login">
                    <span class="menu-text">دخول</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="register">
                    <span class="menu-text">تسجيل</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="lock">
                    <span class="menu-text">قفل الشاشة</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.typography">
                    <span class="menu-text"> أسلوب الطباعة </span>
                </a>
            </li>
        </ul>
    </li>
    <!--More Pages-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-link"></i>

            <span class="menu-text">
                أكثر الصفحات
            </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="error404">
                    <span class="menu-text">الخطأ ۴۰۴</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="error500">
                    <span class="menu-text"> الخطأ ۵۰۰</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blank">
                    <span class="menu-text">صفحة فارغة</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.grid">
                    <span class="menu-text"> شبكة</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">
                        القائمة متعددة المستوى
                    </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li>
                        <a href="#">
                            <i class="menu-icon fa fa-camera"></i>
                            <span class="menu-text">المستوى ۳</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-asterisk"></i>

                            <span class="menu-text">
                                المستوى ۴
                            </span>
                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="#">
                                    <i class="menu-icon fa fa-bolt"></i>
                                    <span class="menu-text">بعض تفاصيل</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="menu-icon fa fa-bug"></i>
                                    <span class="menu-text">تفاصيل أخرى</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!--Right to Left-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-align-right"></i>
            <span class="menu-text"> اليمين إلى اليسار </span>

            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a ng-click="settings.rtl = !settings.rtl" href="">
                    <span class="menu-text" ng-if="settings.rtl">Left to Right</span>
                    <span class="menu-text" ng-if="!settings.rtl">Right to Left</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard">
                    <span class="menu-text">Back to English</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="persian.dashboard">
                    <span class="menu-text">تخطيط الفارسية</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="arabic.dashboard">
                    <span class="menu-text">تخطيط عربية</span>
                </a>
            </li>

            
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.versions">
            <i class="menu-icon glyphicon glyphicon-fire themesecondary"></i>
            <span class="menu-text">
                نسخ BeyondAdmin
            </span>
        </a>
    </li>
</ul>
<!-- /Sidebar Menu -->
