<div class="row" ng-controller="oas5liDataController" ng-cloak>
    <div class="col-sm-12 col-md-12">
        <toaster-container
                toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    </div>
    <div data-ng-include=" 'views/partials/oasHeader.html' "></div>
<!--    <div class="title-group">
        <div class="row col-md-12"><span class="m-l-20 title-header">五力模型</span><span>
    <span id="question_icon"  ng-click="showModel()">
        <img src="assets/img/question_icon.png"/>
    </span>

&lt;!&ndash; 模态框（Modal） &ndash;&gt;
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" style="width: 100%;top: 100px;"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:850px;height:300px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{questionTitle}}
                        </h4>
                    </div>
                    <div class="modal-body" id="questionContent">
                    </div>
                </div>
                &lt;!&ndash; /.modal-content &ndash;&gt;
            </div>
            &lt;!&ndash; /.modal &ndash;&gt;
        </div>
</span>
        </div>
    <div class="col-md-12 row title-body">
        &lt;!&ndash;时间选择&ndash;&gt;
        <div class="pull-left m-l-20">
            <div class="form-group chose-list">
                <label class="chose-list-label control-label font-12">时间： </label>
                <div class="controls" style="float: left;width:50px;">
                    &lt;!&ndash;<select id="datetype" theme="bootstrap" class="combobox" ng-model="datetype" ng-change="datechange()" style="padding: 6px 6px;">&ndash;&gt;
                        &lt;!&ndash;<option value="1" selected="selected">日</option>&ndash;&gt;
                        &lt;!&ndash;<option value="2">周</option>&ndash;&gt;
                        &lt;!&ndash;<option value="3">月</option>&ndash;&gt;
                    &lt;!&ndash;</select>&ndash;&gt;
                    <ui-select ng-model="datetype.selected" theme="bootstrap"  style=" width: 50px;">
                        <ui-select-match placeholder="{{$select.selected.name}}">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in datetypes | filter: $select.search" style="min-width:50px;">
                            <span>{{item.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="chose-list-content controls">
                    <div>
                        <input date-range-picker class="form-control date-picker" type="text"
                               ng-model="initData.rangeDate" ng-if="!singleDatePicker" />

                        <p class="input-group" ng-if="singleDatePicker" style="margin-bottom: 0px;">
                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd"
                                   ng-model="initData.curDate"
                                   is-open="initData.opened"
                                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="position:static;"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash;时间选择 end&ndash;&gt;
        &lt;!&ndash; 查询按钮 &ndash;&gt;
        &lt;!&ndash;<div class="pull-left m-l-20">
            <a class="btn btn-default pull-left font-12" href="javascript:void(0);" ng-click="query()"><i
                    class="fa fa-refresh"></i>查询</a>
        </div>&ndash;&gt;
        &lt;!&ndash; 查询按钮 end&ndash;&gt;
        &lt;!&ndash; 导出按钮 &ndash;&gt;
       &lt;!&ndash; <div class="pull-left m-l-20">
            <a class="btn btn-default pull-left font-12" href="javascript:void(0);" ng-click="export()"><i
                    class="fa fa-download"></i>导出</a>
        </div>&ndash;&gt;
        &lt;!&ndash; 导出按钮 end&ndash;&gt;
    </div>
        </div>-->

    <div class="col-md-12 m-t-20">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">{{dates[7]}} 数据</span>

                <!--<div class="btn-group">
                    <label class="btn btn-normal" ng-model="radioModel" btn-radio="'day'">日</label>
                    <label class="btn btn-normal" ng-model="radioModel" btn-radio="'week'">周</label>
                    <label class="btn btn-normal" ng-model="radioModel" btn-radio="'month'">月</label>
                </div>-->
                <div class="widget-buttons">
                    <a href="" widget-collapse></a>
                    <a href="" widget-maximize></a>
                </div>
            </div>
            <div class="widget-body" style="height: 406px;">
                <div class="col-sm-12 col-xs-12 col-md-12 data-container">
                    <div class="data-div l1 bg-green">
                        <div class="col-sm-12 col-xs-12 col-md-12">注册用户数</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="newUserRegister">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.regCount.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.regCount.trend >=0]">{{todayData.regCount.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.regCount.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div l2 bg-green">
                        <div class="col-sm-12 col-xs-12 col-md-12">首日注册创角数</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="firstDayCreate">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.firstDayCreate.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.firstDayCreate.trend >=0]">{{todayData.firstDayCreate.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.firstDayCreate.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div l3 bg-green">
                        <div class="col-sm-12 col-xs-12 col-md-12">户均在线时长(分)</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="userOnlineAverage">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.percentOnline.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.percentOnline.trend >=0]">{{todayData.percentOnline.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.percentOnline.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div l4 bg-green">
                        <div class="col-sm-12 col-xs-12 col-md-12">活跃付费率</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="activePayRate">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.activePayRate.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.activePayRate.trend >=0]">{{todayData.activePayRate.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.activePayRate.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div l5 bg-green">
                        <div class="col-sm-12 col-xs-12 col-md-12">付费ARPU</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="payARPU">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.payArpu.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.payArpu.trend >=0]">{{todayData.payArpu.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.payArpu.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div ml1 bg-blue">
                        <div class="col-sm-12 col-xs-12 col-md-12">新用户活跃人数</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="newUserActive">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.newUserActiveCount.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.newUserActiveCount.trend >=0]">{{todayData.newUserActiveCount.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.newUserActiveCount.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div ml2 bg-blue">
                        <div class="col-sm-12 col-xs-12 col-md-12">老用户活跃人数</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="oldUserActiveLogin">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.oldUserActiveCount.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.oldUserActiveCount.trend >=0]">{{todayData.oldUserActiveCount.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.oldUserActiveCount.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div mr1 bg-blue">
                        <div class="col-sm-12 col-xs-12 col-md-12">活跃用户数</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="userActive">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.activeCount.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.activeCount.trend >=0]">{{todayData.activeCount.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.activeCount.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div mr2 bg-blue">
                        <div class="col-sm-12 col-xs-12 col-md-12">在线峰值</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="onlinePeak">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.onlinePeakValue.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.onlinePeakValue.trend >=0]">{{todayData.onlinePeakValue.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.onlinePeakValue.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="data-div r1 bg-blue">
                        <div class="col-sm-12 col-xs-12 col-md-12">付费用户数</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="userPayNum">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.payPeople.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.payPeople.trend >=0]">{{todayData.payPeople.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.payPeople.trend>=0]"></i></label>
                            </div>
                        </div>


                    </div>
                    <div class="data-div r2 total">
                        <div class="col-sm-12 col-xs-12 col-md-12">付费金额</div>
                        <div class="col-sm-12 col-xs-12 col-md-12" id="totalPay">
                            <div class="col-sm-6 col-xs-6 col-md-6">{{todayData.payMoney.count}}</div>
                            <div class="col-sm-6 col-xs-6 col-md-6">
                                <label class="m-l-20 success"
                                       ng-class="{true:'success', false:'warning'}[todayData.payMoney.trend >=0]">{{todayData.payMoney.trend}}%<i
                                        class="fa"
                                        ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[todayData.payMoney.trend>=0]"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="arrow-l-11"></div>
                    <div class="arrow-l-12"></div>
                    <div class="arrow-l-21"></div>
                    <div class="arrow-l-22"></div>
                    <div class="arrow-l-13"></div>
                    <div class="arrow-l-14"></div>
                    <div class="arrow-l-15"></div>
                    <div class="arrow-bri"></div>
                    <div class="arrow-down-l"></div>
                    <div class="arrow-down-r"></div>
                    <div class="arrow-down-total"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="well with-header with-footer">
            <div class="header bordered-sky">

                <span class="widget-caption">表格</span>
                <label class="export-btn pull-right" style="margin-right: 20px;" ng-click="export()"><i class="fa fa-download"></i>&nbsp;导出xlsx文件</label>
            </div>
            <div class="scrollable font-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>指标</th>
                        <th ng-repeat="item in dates">{{item}}</th>
                        <th>趋势</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tableData">
                        <td>{{item.pointertype_name}}</td>
                        <td>{{item[dates[0]]}}</td>
                        <td>{{item[dates[1]]}}</td>
                        <td>{{item[dates[2]]}}</td>
                        <td>{{item[dates[3]]}}</td>
                        <td>{{item[dates[4]]}}</td>
                        <td>{{item[dates[5]]}}</td>
                        <td>{{item[dates[6]]}}</td>
                        <td>{{item[dates[7]]}}</td>
                        <td><label class="m-l-20 success" ng-class="{true:'success', false:'warning'}[item.trend >=0]">{{item.trend}}%<i
                                class="fa"
                                ng-class="{true:'fa-arrow-up', false:'fa-arrow-down'}[item.trend >=0]"></i></label></td>
                    </tr>
                    <tr ng-if="noData">
                        <td class="danger" colspan="6">no data</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="footer">

            </div>
        </div>
    </div>
</div>

</div>
