// common


// header
$headerHeight: 47px;
$headerBorderColor: #9da0a2;
$headerColor: #f2f1f7;
$headerBackground: #212121;//#141414;
$headerItemHoverBgcolor: #313131;
// sidebar
$sidebarHeight: 100px;
$sidebarWidth: 220px;
$sidebarDeliveryHeight: 36px;
$sidebarBgcolor: #FFF;//#3d3971;
// aside
$asideBgcolor: #5b5691;