.payment .cards{
    width: 98%;
    padding: 0.06rem 0;
    margin: 0 auto;
}

.payment .cards li{
    width: 30%;
    height: 0.49rem;
    float: left;
    border: solid 1px #c7c8ca;
    border-radius: 0.03rem;
    margin: 0.06rem;
}

.payment .cards li img{
    height: 0.34rem;
    margin: 0.07rem auto 0;
    display: block;
}