<div class="row" ng-controller="adCheckController">
    <div class="col-lg-12 col-sm-12 col-xs-12 oa-header-row">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label  class="col-sm-2 control-label" for="reservation">Chose date: </label>
                    <div class="col-sm-10 controls">
                        <div ng-controller="DateRangePickerCtrl">
                            <input date-range-picker class="form-control date-picker" type="text" ng-model="date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Chose app: </label>
                    <div class="col-sm-10">
                        <ui-select ng-model="app.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in AppAsync | filter: $select.search">
                                <!--<div ng-bind-html="item.name||item.os | highlight: $select.search">-->
                                <!--</div>-->
                                <span>{{item.name}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="col-sm-10">
                        <ui-select ng-model="os.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select">
                                <span>{{item.name}}</span>
                                {{$select.selected.name}}
                                <i ng-if="$select.selected.os==2" class="fa fa-android"></i>
                                <i ng-if="$select.selected.os==1"class="fa fa-apple"></i>
                            </ui-select-match>
                            <ui-select-choices repeat="item in AppOS | filter: $select.search">
                                <span>{{item.name}}</span>
                                <i ng-if="item.os==2" class="fa fa-android green"></i>
                                <i ng-if="item.os==1"class="fa fa-apple orange"></i>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Media source: </label>
                    <div class="col-sm-10">
                        <ui-select ng-model="mediaSource.selected" theme="bootstrap">
                            <ui-select-match placeholder="Select">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in mediaSources | filter: $select.search">
                                <span>{{item.name}}</span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
