<div ncy-breadcrumb></div>
<!--<span ng-controller="QuestionTipController" class="fa fa-question-circle" ata-titleclass="bordered-purple"-->
      <!--tooltip-placement="bottom" tooltip-html-unsafe="{{Content}}">-->
   <!-- <a tabindex="0" class="btn fa fa-question-circle" data-toggle="popover" data-trigger="focus"
       title="TiTle" data-content="{{Content}}"></a>
    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
        Popover on 底部
    </button>-->
<span ng-controller="QuestionTipController"  >
    <span id="question_icon" class="hidden"  ng-click="showModel()">
        <img src="assets/img/question_icon.png" />
    </span>

<!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1"  role="dialog" style="width: 100%;top: 100px;"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:850px;height:300px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{questionTitle}}
                        </h4>
                    </div>
                    <div class="modal-body" id="questionContent">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
            </div>
</span>