<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Độc Bộ Giang Hồ</title>
    <link rel="shortcut icon" href="//images-cdn.bilivfun.com/docbogiangho/common/favicon.ico">
    <script src="https://sdk-sg.pocketgamesol.com/jssdk/test/vconsole/vconsole.min.js"></script>
    <script>
        new window['VConsole']();
    </script>
</head>

<body>
    <div id="sdk"></div>
    <script>
        window.onload = function () {
            SDK.Login2();
        };
    </script>
</body>

</html>