<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="taskDispatcher" class="com.sevenroad.oas.task.TaskDispatcher" init-method="start"/>-->
    <!--<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject" ref="taskDispatcher" />-->
        <!--<property name="targetMethod" value="execute" />-->
        <!--<property name="concurrent" value="false" />-->
    <!--</bean>-->
    <!--<bean id="cronTriggerPunch"-->
          <!--class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
        <!--<property name="jobDetail" ref="jobDetail"/>-->
        <!--<property name="cronExpression" value="0 0/5 * * * ?"/>-->
    <!--</bean>-->
    <!--<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="triggers">-->
            <!--<list>-->
                <!--<ref bean="cronTriggerPunch"></ref>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
</beans>